# Who
## filter 
### Age group, gender, income
#### Categories (Health, Education, Religion)
#### Donation and volunteer percentage of people

In [1]:
import pandas as pd

In [54]:
df = pd.read_csv("Survey-Canada-119-updated-1-csv.csv")

In [55]:
df

,Unnamed: 0,Age_group,Gender,Martial_status,Household_size,Children,Living_arrangement,Three_generation_or_more,Province,Volunteer,...,Reasons_giving_Personally_affected,Reasons_giving_Tax_credit,Reasons_giving_Religious_reasons,Reasons_giving_Spiritual,Reasons_giving_Cause,Reasons_giving_Compassion,Reasons_giving_Community_contribution,Reasons_giving_asked_by_someone_known,Informal_volunteering_Canadian,Informal_volunteering_International
0,0,75+,Male,Married,2,no,Living with more than one parent,no,Ontario,no,...,1,2,2,2,1,1,1,1,2,2
1,1,75+,Male,Married,1,no,Living with more than one parent,no,Ontario,yes,...,1,1,2,1,1,1,2,2,1,1
2,2,75+,Female,Married,2,no,Living with more than one parent,no,Ontario,yes,...,1,2,2,2,2,1,2,2,1,1
3,3,75+,Male,Married,2,no,Living with more than one parent,no,New Brunswick,no,...,1,2,2,2,1,1,1,1,1,1
4,4,75+,Male,Married,2,no,Living with more than one parent,no,British Columbia,yes,...,1,1,2,2,1,2,1,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16144,16144,15-24,Female,"Single, never married",2,no,Living with more than one parent,no,Ontario,yes,...,6,6,6,6,6,6,6,6,1,1
16145,16145,15-24,Male,"Single, never married",4,no,Living with more than one parent,no,British Columbia,no,...,6,6,6,6,6,6,6,6,1,1
16146,16146,15-24,Female,"Single, never married",5,no,Living with more than one parent,no,Quebec,yes,...,6,6,6,6,6,6,6,6,1,1
16147,16147,15-24,Female,"Single, never married",3,no,Living with more than one parent,no,Newfoundland and Labrador,no,...,6,6,6,6,6,6,6,6,2,2
16148,16148,15-24,Female,"Single, never married",4,no,Living with more than one parent,no,Manitoba,yes,...,6,6,6,6,6,6,6,6,2,2

In [137]:
def percentage_people(df):
    try:
        df1 = df[(df[df.columns[2]] >= 1) & (df[df.columns[1]]>=1)]
    except:
        df1 = df[(df[df.columns[2]] =='yes') & (df[df.columns[1]] ==1)]
        
    total = len(df1)
    print(total)
    
    for i in df1[df1.columns[0]].unique():
        df2 = df1[df1[df1.columns[0]] ==i]
        t = len(df2)
#         #print(df1)
#     #category where value is greater than 1 divided by total len of df
#         try:
#              #for donation
#             t = ((df1[df1.columns[2]] >= 1) & (df1[df1.columns[1]]>=1)).sum()
#         except:
#             t = ((df1[df1.columns[2]] =='yes') & (df1[df1.columns[1]]>=1)).sum() #for volunteer
#         #print(t)
        
        per = round(t*100/total,2)
        print(' for value ',i, ' percentage of people are ',per, '%')
    
#gender male

In [82]:
((df['donated'] >= 1) & (df['Number_of_donations_Category_religion']>=1)).sum()

4710

In [80]:
df['Number_of_donations_Category_religion']>=1

0        False
1         True
2        False
3         True
4        False
         ...
16144    False
16145    False
16146    False
16147    False
16148    False
Name: Number_of_donations_Category_religion, Length: 16149, dtype: bool

## Age group (age_group, category , donation=y/n)

In [111]:
percentage_people(df[['Age_group','Number_of_donations_Category_religion','donated']])

4710
 for value  75+  percentage of people are  17.83 %
 for value  65-74  percentage of people are  23.14 %
 for value  55-64  percentage of people are  21.97 %
 for value  45-54  percentage of people are  13.82 %
 for value  35-44  percentage of people are  13.12 %
 for value  25-34  percentage of people are  7.66 %
 for value  15-24  percentage of people are  2.44 %

In [112]:
percentage_people(df[['Age_group','Number_of_donations_Category_environment','donated']])

1604
 for value  75+  percentage of people are  11.22 %
 for value  65-74  percentage of people are  22.13 %
 for value  55-64  percentage of people are  22.94 %
 for value  45-54  percentage of people are  15.27 %
 for value  35-44  percentage of people are  14.84 %
 for value  25-34  percentage of people are  11.03 %
 for value  15-24  percentage of people are  2.56 %

In [113]:
percentage_people(df[['Age_group','Number_of_donations_Category_education_and_research','donated']])

2586
 for value  75+  percentage of people are  8.7 %
 for value  65-74  percentage of people are  19.57 %
 for value  55-64  percentage of people are  23.01 %
 for value  45-54  percentage of people are  17.79 %
 for value  35-44  percentage of people are  19.68 %
 for value  25-34  percentage of people are  8.82 %
 for value  15-24  percentage of people are  2.44 %

# gender (gender, category , donation=y/n)

In [114]:
percentage_people(df[['Gender','Number_of_donations_Category_religion','donated']])

4710
 for value  Male  percentage of people are  40.3 %
 for value  Female  percentage of people are  59.7 %

In [115]:
percentage_people(df[['Gender','Number_of_donations_Category_environment','donated']])

1604
 for value  Male  percentage of people are  33.98 %
 for value  Female  percentage of people are  66.02 %

In [116]:
percentage_people(df[['Gender','Number_of_donations_Category_education_and_research','donated']])

2586
 for value  Male  percentage of people are  39.95 %
 for value  Female  percentage of people are  60.05 %

# Family income before tax (family_income, category , donation=1/0)

In [125]:
percentage_people(df[['Family_income_group_before_tax','Number_of_donations_Category_religion','donated']])

4710
 for value  75,000 to 99,999  percentage of people are  18.68 %
 for value  25,000 to 49,999  percentage of people are  19.26 %
 for value  50,000 to 74,999  percentage of people are  17.73 %
 for value  100,000 to 124,999  percentage of people are  10.23 %
 for value  125,000 and more  percentage of people are  25.05 %
 for value  Less than 25,000  percentage of people are  9.04 %

In [126]:
percentage_people(df[['Family_income_group_before_tax','Number_of_donations_Category_environment','donated']])

1604
 for value  75,000 to 99,999  percentage of people are  16.46 %
 for value  125,000 and more  percentage of people are  28.93 %
 for value  25,000 to 49,999  percentage of people are  16.58 %
 for value  100,000 to 124,999  percentage of people are  12.09 %
 for value  50,000 to 74,999  percentage of people are  17.39 %
 for value  Less than 25,000  percentage of people are  8.54 %

In [127]:
percentage_people(df[['Family_income_group_before_tax','Number_of_donations_Category_education_and_research','donated']])

2586
 for value  25,000 to 49,999  percentage of people are  13.42 %
 for value  50,000 to 74,999  percentage of people are  15.04 %
 for value  125,000 and more  percentage of people are  34.76 %
 for value  100,000 to 124,999  percentage of people are  12.37 %
 for value  75,000 to 99,999  percentage of people are  18.21 %
 for value  Less than 25,000  percentage of people are  6.19 %

## Age group (age_group, category , volunteer=y/n)

In [141]:
percentage_people(df[['Age_group','Volunteering_Religion','Volunteer']])

1554
 for value  75+  percentage of people are  17.5 %
 for value  65-74  percentage of people are  24.26 %
 for value  55-64  percentage of people are  20.59 %
 for value  45-54  percentage of people are  13.64 %
 for value  35-44  percentage of people are  12.74 %
 for value  25-34  percentage of people are  6.76 %
 for value  15-24  percentage of people are  4.5 %

In [148]:
percentage_people(df[['Age_group','Volunteering_Environment','Volunteer']])

541
 for value  75+  percentage of people are  4.81 %
 for value  65-74  percentage of people are  21.63 %
 for value  55-64  percentage of people are  22.92 %
 for value  45-54  percentage of people are  14.97 %
 for value  35-44  percentage of people are  13.49 %
 for value  25-34  percentage of people are  16.64 %
 for value  15-24  percentage of people are  5.55 %

In [140]:
percentage_people(df[['Age_group','Volunteering_Education_and_research','Volunteer']])

1068
 for value  65-74  percentage of people are  8.61 %
 for value  55-64  percentage of people are  10.21 %
 for value  45-54  percentage of people are  19.76 %
 for value  75+  percentage of people are  2.06 %
 for value  35-44  percentage of people are  35.58 %
 for value  25-34  percentage of people are  12.45 %
 for value  15-24  percentage of people are  11.33 %

## gender (gender, category , volunteer=y/n)

In [144]:
percentage_people(df[['Gender','Volunteering_Religion','Volunteer']])

1554
 for value  Male  percentage of people are  38.35 %
 for value  Female  percentage of people are  61.65 %

In [147]:
percentage_people(df[['Gender','Volunteering_Environment','Volunteer']])

541
 for value  Male  percentage of people are  40.85 %
 for value  Female  percentage of people are  59.15 %

In [139]:
percentage_people(df[['Gender','Volunteering_Education_and_research','Volunteer']])

1068
 for value  Female  percentage of people are  67.7 %
 for value  Male  percentage of people are  32.3 %

## family Income before tax (family income, category , volunteer=y/n)

In [145]:
percentage_people(df[['Family_income_group_before_tax','Volunteering_Religion','Volunteer']])

1554
 for value  75,000 to 99,999  percentage of people are  20.21 %
 for value  25,000 to 49,999  percentage of people are  18.47 %
 for value  100,000 to 124,999  percentage of people are  10.55 %
 for value  125,000 and more  percentage of people are  25.29 %
 for value  50,000 to 74,999  percentage of people are  17.57 %
 for value  Less than 25,000  percentage of people are  7.92 %

In [146]:
percentage_people(df[['Family_income_group_before_tax','Volunteering_Environment','Volunteer']])

541
 for value  100,000 to 124,999  percentage of people are  10.72 %
 for value  50,000 to 74,999  percentage of people are  16.82 %
 for value  125,000 and more  percentage of people are  33.09 %
 for value  Less than 25,000  percentage of people are  10.35 %
 for value  75,000 to 99,999  percentage of people are  13.49 %
 for value  25,000 to 49,999  percentage of people are  15.53 %

In [138]:
percentage_people(df[['Family_income_group_before_tax','Volunteering_Education_and_research','Volunteer']])

1068
 for value  50,000 to 74,999  percentage of people are  12.36 %
 for value  75,000 to 99,999  percentage of people are  17.79 %
 for value  125,000 and more  percentage of people are  42.88 %
 for value  100,000 to 124,999  percentage of people are  12.45 %
 for value  25,000 to 49,999  percentage of people are  8.9 %
 for value  Less than 25,000  percentage of people are  5.62 %

# How channels

In [66]:
def percentage_how(df):
    try:
        t = len(df[df[df.columns[-1]] >= 1])
    except:
        t = len(df[df[df.columns[-1]] == 'yes'])
    print(t)
    for i in df.columns[:-1]:
        try:
            s = (df[i]>=1).sum()
        except:
            s= (df[i] == 'yes').sum()
        print(s)
        print(i,"  " ,round(s*100/t,2),"%")

In [61]:
# df.filter(like='Number_of_donations').columns
(df['Informal_volunteering_Canadian']==2).sum()

3773

### donation

In [46]:
percentage_how(df[['Number_of_donations_Mail', 'Number_of_donations_Telephone',
       'Number_of_donations_Television', 'Number_of_donations_Online',
       'Number_of_donations_Own_initiative',
       'Number_of_donations_to_Charity_event',
       'Number_of_donations_In_memory_of_someone', 'Number_of_donations_Work',
       'Number_of_donations_Door_to_door_canvassing',
       'Number_of_donations_Shopping_centre',
       'Number_of_donations_Place_of_worship',
       'Number_of_donations_By_sponsoring_someone',
       'Number_of_donations_Other','donated']])

Number_of_donations_Mail    20.4 %
Number_of_donations_Telephone    8.93 %
Number_of_donations_Television    6.28 %
Number_of_donations_Online    13.6 %
Number_of_donations_Own_initiative    19.76 %
Number_of_donations_to_Charity_event    18.7 %
Number_of_donations_In_memory_of_someone    23.61 %
Number_of_donations_Work    18.39 %
Number_of_donations_Door_to_door_canvassing    20.52 %
Number_of_donations_Shopping_centre    35.59 %
Number_of_donations_Place_of_worship    27.75 %
Number_of_donations_By_sponsoring_someone    28.39 %
Number_of_donations_Other    5.85 %

### Volunteer

In [67]:
percentage_how(df[['Volunteering_Using_internet','Informal_volunteering_Canadian','Informal_volunteering_International','Volunteer']])

8365
2802
Volunteering_Using_internet    33.5 %
16149
Informal_volunteering_Canadian    193.05 %
16149
Informal_volunteering_International    193.05 %

# Why reasons

## category avg number of people participate 
### Reasons 
### age group 
### avg people higher than avg and lower

## Donation

In [131]:
df.filter(like='Reasons_giving_').columns

Index(['Reasons_giving_Personally_affected', 'Reasons_giving_Tax_credit',
       'Reasons_giving_Religious_reasons', 'Reasons_giving_Spiritual',
       'Reasons_giving_Cause', 'Reasons_giving_Compassion',
       'Reasons_giving_Community_contribution',
       'Reasons_giving_asked_by_someone_known'],
      dtype='object')

In [173]:
def why_reasons_avg(df):
    
    #percentage of people giving in this category  
    avg = round(df[df.columns[0]].sum() *100/100000,2)
    # filter for the reason 
    df2 = df[(df[df.columns[1]] == 1)&(df[df.columns[0]] > 0)]
    #filter for age groups and check number of people 
    #len(df2)
    for i in df2[df2.columns[2]].unique():
        df3 = df2[df2[df2.columns[2]] == i]
        gt_count = (df3[df3.columns[0]] >= avg).sum() 
        lt_count = len(df3) - gt_count
        
        print(i,"# people more than avg of category ",gt_count," less ",lt_count)

In [174]:
why_reasons_avg(df[['Amount_of_donations_Category_religion','Reasons_giving_Personally_affected','Age_group','donated']])

75+ # people more than avg of category  25  less  484
65-74 # people more than avg of category  31  less  668
55-64 # people more than avg of category  39  less  671
45-54 # people more than avg of category  18  less  422
35-44 # people more than avg of category  34  less  366
25-34 # people more than avg of category  10  less  188
15-24 # people more than avg of category  1  less  53

In [175]:
why_reasons_avg(df[['Amount_of_donations_Category_religion','Reasons_giving_Religious_reasons','Age_group','donated']])

75+ # people more than avg of category  30  less  472
65-74 # people more than avg of category  32  less  612
55-64 # people more than avg of category  43  less  528
45-54 # people more than avg of category  19  less  375
35-44 # people more than avg of category  39  less  316
25-34 # people more than avg of category  14  less  188
15-24 # people more than avg of category  1  less  59

In [176]:
why_reasons_avg(df[['Amount_of_donations_Category_religion','Reasons_giving_Compassion','Age_group','donated']])

75+ # people more than avg of category  34  less  565
65-74 # people more than avg of category  36  less  797
55-64 # people more than avg of category  44  less  772
45-54 # people more than avg of category  18  less  483
35-44 # people more than avg of category  36  less  447
25-34 # people more than avg of category  15  less  256
15-24 # people more than avg of category  1  less  75

## Volunteer

In [177]:
why_reasons_avg(df[['Volunteering_hours_Volunteering_Religion','Reasons_giving_Personally_affected','Age_group','Volunteer']])

75+ # people more than avg of category  38  less  159
65-74 # people more than avg of category  52  less  213
55-64 # people more than avg of category  40  less  204
45-54 # people more than avg of category  28  less  124
35-44 # people more than avg of category  18  less  122
25-34 # people more than avg of category  11  less  55
15-24 # people more than avg of category  3  less  22

In [178]:
why_reasons_avg(df[['Volunteering_hours_Volunteering_Religion','Reasons_giving_Religious_reasons','Age_group','donated']])

75+ # people more than avg of category  39  less  159
65-74 # people more than avg of category  53  less  222
55-64 # people more than avg of category  46  less  199
45-54 # people more than avg of category  27  less  133
35-44 # people more than avg of category  20  less  121
25-34 # people more than avg of category  11  less  62
15-24 # people more than avg of category  4  less  24

In [179]:
why_reasons_avg(df[['Volunteering_hours_Volunteering_Religion','Reasons_giving_Compassion','Age_group','donated']])

75+ # people more than avg of category  45  less  177
65-74 # people more than avg of category  59  less  247
55-64 # people more than avg of category  51  less  235
45-54 # people more than avg of category  28  less  149
35-44 # people more than avg of category  22  less  136
25-34 # people more than avg of category  10  less  66
15-24 # people more than avg of category  4  less  30

In [28]:
df[df['Number_of_donations_Category_health']>1]

,Unnamed: 0,Age_group,Gender,Martial_status,Household_size,Children,Living_arrangement,Three_generation_or_more,Province,Volunteer,...,Amount_of_donations_Category_business_and_professional,Amount_of_donations_Category_not_elsewhere_classified,Education_Attending_School,Education_Enrollment_status,Education_Highest_degree,Labour_force_status,Employment_Employee_or_self_employed,Personal_income_group_before_tax,Family_income_group_before_tax,donated
0,0,75+,Male,Married,2,no,Living with more than one parent,no,Ontario,no,...,0,2.0,no,Valid skip,Less than High School,Not in labour force,Valid skip,"50,000 to 74,999","75,000 to 99,999",1
1,1,75+,Male,Married,1,no,Living with more than one parent,no,Ontario,yes,...,0,0.0,no,Valid skip,University Diploma,Not in labour force,Valid skip,"75,000 to 99,999","75,000 to 99,999",1
5,5,75+,Male,Married,2,no,Living with more than one parent,no,Prince Edward Island,no,...,0,0.0,no,Valid skip,Graduated from High school,Not in labour force,Valid skip,"Less than 25,000","25,000 to 49,999",1
7,7,75+,Male,Married,1,no,Living with more than one parent,no,British Columbia,yes,...,0,0.0,no,Valid skip,Post-secondary diploma,Not in labour force,Valid skip,"125,000 and more","125,000 and more",1
9,9,75+,Female,Married,2,no,Living with more than one parent,no,Ontario,no,...,0,0.0,no,Valid skip,Post-secondary diploma,Not in labour force,Valid skip,"25,000 to 49,999","75,000 to 99,999",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16076,16076,15-24,Male,"Single, never married",4,no,Living with more than one parent,no,Ontario,yes,...,0,0.0,yes,a full-time student,Less than High School,Employed,Employee,"Less than 25,000","125,000 and more",1
16102,16102,15-24,Male,"Single, never married",2,no,Living with more than one parent,no,Ontario,yes,...,0,0.0,no,Valid skip,Post-secondary diploma,Employed,Employee,"25,000 to 49,999","50,000 to 74,999",1
16117,16117,15-24,Male,"Single, never married",4,no,Living with more than one parent,no,Ontario,yes,...,0,0.0,yes,a full-time student,Less than High School,Not in labour force,Valid skip,"Less than 25,000","125,000 and more",1
16123,16123,15-24,Male,"Single, never married",2,no,Living with more than one parent,no,Quebec,yes,...,0,0.0,yes,a full-time student,Post-secondary diploma,Employed,Employee,"Less than 25,000","Less than 25,000",1
16139,16139,15-24,Female,"Single, never married",4,no,Living with more than one parent,no,New Brunswick,yes,...,0,0.0,yes,a full-time student,Graduated from High school,Not in labour force,Valid skip,"Less than 25,000","125,000 and more",1

In [32]:
df[df['donated']>1]

,Unnamed: 0,Age_group,Gender,Martial_status,Household_size,Children,Living_arrangement,Three_generation_or_more,Province,Volunteer,...,Amount_of_donations_Category_business_and_professional,Amount_of_donations_Category_not_elsewhere_classified,Education_Attending_School,Education_Enrollment_status,Education_Highest_degree,Labour_force_status,Employment_Employee_or_self_employed,Personal_income_group_before_tax,Family_income_group_before_tax,donated
17,17,75+,Male,Married,2,no,Living with more than one parent,no,Manitoba,no,...,-1,-1.0,no,Valid skip,Post-secondary diploma,Not in labour force,Valid skip,"Less than 25,000","25,000 to 49,999",2
22,22,75+,Male,Married,2,no,Living with more than one parent,no,Quebec,no,...,-1,-1.0,no,Valid skip,Post-secondary diploma,Not in labour force,Valid skip,"Less than 25,000","50,000 to 74,999",2
29,29,65-74,Male,Married,3,yes,Not living with parents,no,Alberta,no,...,-1,-1.0,no,Valid skip,Less than High School,Not in labour force,Valid skip,"25,000 to 49,999","50,000 to 74,999",2
34,34,75+,Female,Married,2,no,Living with more than one parent,no,Ontario,no,...,-1,-1.0,no,Valid skip,Less than High School,Employed,Self-employed,"Less than 25,000","25,000 to 49,999",2
38,38,65-74,Male,Married,3,yes,Not living with parents,no,Newfoundland and Labrador,no,...,-1,-1.0,no,Valid skip,Post-secondary diploma,Not in labour force,Valid skip,"50,000 to 74,999","75,000 to 99,999",2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16144,16144,15-24,Female,"Single, never married",2,no,Living with more than one parent,no,Ontario,yes,...,-1,-1.0,yes,a full-time student,Graduated from High school,Not in labour force,Valid skip,"Less than 25,000","Less than 25,000",2
16145,16145,15-24,Male,"Single, never married",4,no,Living with more than one parent,no,British Columbia,no,...,-1,-1.0,yes,a full-time student,Graduated from High school,Employed,Employee,"Less than 25,000","125,000 and more",2
16146,16146,15-24,Female,"Single, never married",5,no,Living with more than one parent,no,Quebec,yes,...,-1,-1.0,yes,a full-time student,Less than High School,Employed,Employee,"Less than 25,000","25,000 to 49,999",2
16147,16147,15-24,Female,"Single, never married",3,no,Living with more than one parent,no,Newfoundland and Labrador,no,...,-1,-1.0,yes,a full-time student,Graduated from High school,Employed,Employee,"Less than 25,000","75,000 to 99,999",2
16148,16148,15-24,Female,"Single, never married",4,no,Living with more than one parent,no,Manitoba,yes,...,-1,-1.0,no,Valid skip,Post-secondary diploma,Employed,Employee,"Less than 25,000","100,000 to 124,999",2